img {
    display:block;
    margin:auto;
}

h1 {
    text-align: center;
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select button {
    height: 40px;
    width: 90px;
}

.input form{
display: flex;
flex-direction: column;
}

form button {
    margin-left: 106px;
}

form h2 {
    margin-left: 158px;
}

table {
    border-collapse: collapse;
    margin-top: 25px;
    width: fit-content ;
  }
  

td, th {
    border: 1px solid black;
    font-size: x-large;
  }

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}

.input {
    display: flex;
    flex-direction: row;
}

.graficas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
